body{
    background-color: rgb(223, 223, 223);
    margin: 64px;
    font-family: 'Darker Grotesque', sans-serif;
}

#container {
    width: auto;
    max-width: 980px;
    align-content: center;
    margin: 40px auto;
    

}
#container header {
    display: flex;
    justify-content: space-between;
}

#container nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#container nav a {
    color: black;
}

#container nav li {
    list-style-type: none;
    margin-right: 18px;
}

#container #principal h2{
    text-align: center;
}

#container #principal p{
    text-align: justify;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:black ;
}


.noticia {
    display: flex;
    background-color: white;
    text-align: justify;
    color: black;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    box-shadow:0 4px 16px -8px  rgb(174, 176, 180, 0.5);
}

.noticia iframe {
    width: 50%;
    margin-right: 28px;
}

.noticia img {
    width: 50%;
    height: 50%;
    margin-right: 28px;
}

.noticia h3, a {
    margin: 0;
    font-weight: 500;
    color:black;
    
}

.noticia p {
    margin: 10px 0;
}

.noticia descricao {
    margin: 16px 0;
}

#grupo-noticias conteudo {
    margin: 12px 0;
    padding: 10%;
}

