body{
    margin: 64px;
    font-family: 'Prompt', sans-serif;
}

#container {
    width: 80%;
    max-width: 1024px;
    align-content: center;
    margin: 40px auto;
}
#container header {
    display: flex;
    justify-content: space-between;
}

#container nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#container nav a {
    color: black;
}

#container nav li {
    list-style-type: none;
    margin-right: 18px;
}

#container #principal h2{
    text-align: center;
}

#container #principal p{
    text-align: justify;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:black ;
}


.noticia {
    display:flex ;
    background-color: rgb(174, 176, 180);
    text-align: justify;
    color: white;
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 16px;
    box-shadow:0 4px 16px -8px  rgb(174, 176, 180, 0.5);
}

.noticia iframe {
    width: 320px;
    height: 240px;
    margin-right: 28px ;
    border-radius: 16px;

}

.noticia h3, a {
    margin: 0;
    font-weight: 500;
    color:white;
    text-align: left;
}

.noticia p {
    margin: 10px 0;
}

.noticia descricao {
    margin: 16px 0;
}

#grupo-noticias conteudo {
    margin: 12px 0;
    padding: 10%;
}

