body{
    background-color: rgb(223, 223, 223);
    margin: 64px;
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: auto;
    max-width: 800px;
    align-content: center;
    margin: 40px auto;
    

}
#container header {
    display: flex;
    justify-content: space-between;
}

#container nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;

}

#container nav a {
    color: black;
}

#container nav li {
    list-style-type: none;
    margin-right: 18px;
}

#container #principal h2{
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:black ;
}


.noticia {
    display: flex;
    background-color: white;
    text-align: justify;
    color: black;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 30px;
    box-shadow:0 4px 16px -8px  rgb(174, 176, 180, 0.5);
}

.noticia iframe {
    width: 50%;
    margin-right: 28px;
}

.noticia img {
    width: 50%;
    height: 50%;
    align-content: center;
    margin-right: 28px;
}

.noticia h4, a {
    margin: 0;
    padding: 0px;
    color:black;
}

.noticia p {
    margin: 10px 0;
    color: #8708EE;
    font-weight: 500;
}

.descricao p{
    margin: 16px 0;
    font-size: 14px;
    color: black;
    font-weight: 300;
    
}

/* Seçao Sobre o Autor*/

.me {
    width: auto;
    display: flex;
    background-color: #F3F3F3;
    text-align: justify;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    box-shadow:0 4px 16px -8px  rgb(174, 176, 180, 0.5);
}

.me img{
    width: 35%;
    height: 35%;
    margin: auto;
    margin-right: 28px;
}

.me a img {
    width: 32px;
    height: 32px;
    margin: 0;
}

.me p {
    font-size: 14px;
}

/* Seção do form*/

#contato form {
    margin: 0 auto 15%;
    display: grid;
    gap: 20px;
}

form input,
form textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 0.5px solid rgba(150, 148, 148, 0.2);
    outline: none;
    font-size: 12px;
    box-shadow:0 4px 16px -8px  rgb(174, 176, 180, 0.5);
}

button {
    height: 50px ;
    background-color: #8708EE ;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    font-size: 18px;
}

/* Seção Saiba mais*/

.links {
    display: flex;
    width: auto;
    background-color: white;
}
